body {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}
header {
  background-color: #ffc017;

  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header div:last-of-type {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}
header img {
  padding-left: 10%;
  width: 10%;
  margin-left: 5rem;
}
header div a {
  text-decoration: none;
  color: black;
  opacity: 70%;
  margin-right: 20px;
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: 11px;
}
header div a:last-of-type {
  background-color: #191919;
  margin-right: 60px;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  opacity: 100%;
}

/* INIZIO MAIN */

#upPage {
  background-color: #ffc017;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid;
  border-top: 1px solid;
  height: 350px;
}

#divLeft {
  height: 250px;
}

#divRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Spectral", serif;
  margin-left: 7rem;
}

h1 {
  font-weight: 500;
  font-size: 65px;
}

.pUpMain {
  opacity: 70%;
  margin-top: 13px;
}

.firstAncorMain {
  background-color: #191919;
  margin-right: 60px;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  opacity: 100%;
  width: 7rem;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  font-weight: 400;
  font-size: 15px;
}
 .sectionMiddle{border-bottom: 1px solid #c0c0c073;}


.divup {
  padding: 5% 9%;
}

.firstDivSec {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-family: "spectral", serif;
  margin-bottom: 15px ;
  font-size: 60%;
}

.trading {
  margin-left: 10px;
}
#bigDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.parentDiv {
  display: flex;
  width: 33%;
  margin-bottom: 20px;
}

.number {
  margin-right: 20px;
}

h5 {
  font-weight: bolder;
  font-size: 35px;
  opacity: 20%;
  font-family: "spectral", serif;
}

.divInline {
  display: flex;
  font-family: "roboto", serif;
  font-weight: 500;
  align-items: center;
  font-size: 50%
}

.allImg {
  border-radius: 30px;
  width: 25px;
  margin-right: 10px;
}

.paragrafOne {
  font-family: "roboto", serif;
  font-size: 70%;
  font-weight: 900;
  margin: 15px 0px;
}

.paragrafSmall {
  font-family: "roboto", serif;
  opacity: 40%;
  font-weight: 400;
  font-size: 65%;
  margin-right: 2%;
}

.star {display: flex;
  align-items: center;

}

.bigSection {
  display: flex;
  padding: 5% 9%;
}

.downP {
  
  font-family: "roboto", serif;
    font-weight: 500;
    font-size: 10px;
}

.imgP{
  display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

h3 {
  font-weight: 900;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 5px;
}

.paragrafDown {

    font-family: "roboto", serif;
    font-weight: 400;
    font-size:61%;
    opacity: 50%;
    margin: 8px 0px 12px 0px;
}



.downImg {
  border-radius: 30px;
  width: 20px;
  margin-right: 10px;
  border: 1px solid silver

}

.middleImg {
  width: 9rem;
  height: 6rem;
  padding-right: 3rem;
}



.ancorMain {
  font-family: "roboto", serif;

  text-decoration: none;
  border: 1px solid silver;
  padding: 5px;
  font-weight: 500;
    color: black;
    opacity: 43%;
    margin: 5px;
    font-size: 11px;
}

.ancorRight{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

#secOne {
  flex-basis: 65%;
}

#secThree {
  flex-basis: 35%;
}

.divContainer{
  margin-bottom: 30px;
  display: flex ;
  justify-content: space-between;
}
.divPosition {
  
}

.bookmark {
  margin-right: 5px;
}



.onAncor {
  font-family: 'spectral', serif;
    font-weight: 900;
    font-size: 60%;
    margin-bottom: 25px;
}

.divMiddleA {
  display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
  font-family: "roboto", serif;

 
  
  
  
    
    opacity: 43%;
    margin: 3rem 1rem;;
    font-size: 11px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
  font-weight: 500;
    font-size: 11px;
    padding: 2px;
    /* border: 1px solid silver; */
    margin: 3px;
}