body {
  display: flex;
  flex-direction: column;
}
header {
  background-color: #ffc017;

  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header div:last-of-type {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}
header img {
  padding-left: 10%;
  width: 10%;
}
header div a {
  text-decoration: none;
  color: black;
  opacity: 70%;
  margin-right: 20px;
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: 11px;
}
header div a:last-of-type {
  background-color: #191919;
  margin-right: 60px;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  opacity: 100%;
}

/* INIZIO MAIN */

#upPage {
  background-color: #ffc017;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

#divLeft {
  height: 250px;
}

#divRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Spectral", serif;
}

h1 {
  font-weight: 500;
  font-size: 65px;
}

.pUpMain {
  opacity: 70%;
  margin-top: 13px;
}

.firstAncorMain {
  background-color: #191919;
  margin-right: 60px;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  opacity: 100%;
  width: 7rem;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  font-weight: 400;
  font-size: 15px;
}
 .sectionMiddle{border-bottom: 1px solid #c0c0c073;}


.divup {
  padding: 5% 9%;
}

.firstDivSec {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-family: "spectral", serif;
  margin-bottom: 15px ;
  font-size: 60%;
}

.trading {
  margin-left: 10px;
}
#bigDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.parentDiv {
  display: flex;
  width: 33%;
  margin-bottom: 20px;
}

.number {
  margin-right: 20px;
}

h5 {
  font-weight: bolder;
  font-size: 35px;
  opacity: 20%;
  font-family: "spectral", serif;
}

.divInline {
  display: flex;
  font-family: "roboto", serif;
  font-weight: 500;
  align-items: center;
  font-size: 50%
}

.allImg {
  border-radius: 30px;
  width: 25px;
  margin-right: 10px;
}

.paragrafOne {
  font-family: "roboto", serif;
  font-size: 70%;
  font-weight: 900;
  margin: 15px 0px;
}

.paragrafSmall {
  font-family: "roboto", serif;
  opacity: 40%;
  font-weight: 400;
  font-size: 65%;
  margin-right: 2%;
}

.star {display: flex;
  align-items: center;

}

.bigSection {
  display: flex;
  padding: 5% 9%;
}

.downP {
  
  font-family: "roboto", serif;
    font-weight: 500;
    font-size: 15px;
}

h3 {
  font-weight: 900;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 5px;
}

.paragrafDown {

    font-family: "roboto", serif;
    font-weight: 400;
    font-size: 85%;
    opacity: 50%;
    margin: 8px 0px 12px 0px;
}

.imgP {
  display: flex;
    align-items: center;
}

.downImg {
  border-radius: 30px;
  width: 25px;
  margin-right: 10px;
  border: 1px solid silver

}

.middleImg {
  max-width: 100%;
  
}

.bookmark {
  position: relative;
    top: 45px;
    margin-right: 10px;
}

.ancorMain {
  font-family: "roboto", serif;

  text-decoration: none;
  border: 1px solid;
  padding: 5px;
  font-weight: 500;
    color: black;
    opacity: 50%;
}

.ancorRight{
  display:flex;
  flex-wrap: wrap;
}

#secOne {
flex-basis: 50%;
}
#secTwo {
  flex-basis: 25%;
}

#secThree {
  flex-basis: 25%;
}


